<div id="slides">
    <li class="slide showing">
        <div class="wrapper">
          <div class="yr-location" id="location">
              <h1 class="yr-location__title">{{locationName}}</h1>
              <p class="yr-location__metadata">Ål (Buskerud), 436 moh.</p>
          </div>
            <div class="yr-forecast" id="forecast">
              <div class="yr-new-symbol">
                  <img id="weather-symbol" src="{{symbolUrl}}" />
              </div>
              <div class="yr-temperature">
                  <span id='temperature'>{{temperature}}<sup>°</sup></span>
              </div>
            </div>
            <div class="yr-timestamp" id="timestamp">
              <p id='timestamp'>I dag kl. {{timeFrom}} - {{timeTo}}</p>
            </div>
        </div>
    </li>
    <li class="slide" id="old-forecast">
        <div class="wrapper">
          <div class="yr-location" id="location">
              <h1 class="yr-location__title">Buskerud</h1>
          </div>
            <div class="yr-old-symbol">
                <img id='old-weather-symbol' src='images/{{oldSymbolUrl}}' width="500" height="500"/>
            </div>
            <div class="yr-old-forecast">
                <p>I morgen:<br /> {{textForecast}}</p>
            </div>
        </div>
    </li>
    <li class="slide" id="logos">
        <div class="logo-wrapper">
            <div class="yr-logo">
                <img src="images/logo-yr.svg" />
            </div>
            <div class="yr-partners">
                <img id="nrk-logo" src="images/logo-nrk.svg" width="250" height="75"/>
                <img id="met-logo" src="images/logo-met.svg" width="250" height="75"/>
            </div>
        </div>
    </li>
</div>


<script id="WeatherTemplateOldForecast" type="text/x-handlebars-template">
    <div class="wrapper">
      <div class="yr-location" id="location">
          <h1 class="yr-location__oldtitle">Buskerud</h1>
      </div>
        <div class="yr-old-symbol">
            <img id="old-weather-symbol" src="\{{oldSymbolUrl}}"" width="500" height="500"/>
        </div>
        <div class="yr-old-forecast">
            <p>I morgen: \{{textForecast}}</p>
        </div>
    </div>
</script>

<script id="WeatherTemplateForecast" type="text/x-handlebars-template">
    <div class="yr-new-symbol">
        <img id="weather-symbol" src="\{{symbolUrl}}" />
    </div>
    <div class="yr-temperature">
        <span id='temperature'>\{{temperature}}<sup>°</sup></span>
    </div>
</script>

<script id="TimeStampTemplate" type="text/x-handlebars-template">
    <p id='timestamp'>I dag kl. \{{timeFrom}} - \{{timeTo}}</p>
</script>

<script id="LocationTemplate" type="text/x-handlebars-template">
    <h1 class="yr-location__title">\{{locationName}}</h1>
    <p class="yr-location__metadata">Ål (Buskerud), 436 moh.</p>
</script>

<script type="text/javascript">
    var loc = {{{json locationJsonData}}};
</script>
